// style.css
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    background-color: white;
}

header{
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: yellowgreen;
    justify-content: space-between;
    padding: 35px;
    color:blue;
}

nav{;
}

ul{
    
    font-size:large;
    align-items:normal;
    
}

img {
    border-radius: 80px;
    border: 10px solid darkblue;
    align-items: left;
    
}

main {  
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: left;

    
}

p {

    font-size: 12px;
    justify-content: center;

}

section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

hr{
    margin: 0;
    border-top: 2px solid black;
}

h1 {
    font-size: 30px;
}

a {
    color: black;
}

nav a {
    color: white;
    font-weight: bold;

}

footer{
    background-color: aqua;
    align-items: left;
    color: blueviolet;
    padding: 0px;

}

