// style.css
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

body{
    background-color: darkkhaki;
}

header{
    display: flex;
    align-items: center;
    background-color: yellowgreen;
    justify-content: space-between;
    padding: 0px;
    gap: 0px;
    color:blue;
}

ul{
    
    font-size:large;
    align-items:normal;
    
}

img {
    border-radius: 100px;
    border: 10px solid darkblue;
    align-items: left;
    
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    aling-items: left;

    background-color: turquoise;
}

p {
    font-size: 12px;

}

section {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

hr{
    margin: 0;
    border-top: 2px solid black;
}

h1 {
    font-size: 30px;
}

a {
    color: black;
}

nav a {
    color: white;

}

footer{
    background-color: aqua;
    align-items: left;
    color: blueviolet;
    padding: 0px;

}

