/* General Reset and styling */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: brown;
    padding:20px;
}

h1{
    text-align:center;
    margin: bottom 30px;
    color: #333;
}

hr{
    margin: 40px 0;
    border:0;
    border-top: 1px solid #ccc;
}

.demo-section {
    background-color:white
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.resize-note {
    margin-top: 20px;
    font-style:italic;
    color: blue;
    text-align: center;
    padding: 20px;
}

    /* --- flex container setup ---*/

.flex-container {
    /*REQUIRED: This turns on flexbox for the container */
    display: flex;
    border: 2px dashed #7f848a;
    padding: 10px;
    min-height: 100px;
    margin-top: 15px;
}

/* --- DEMO 1: Navigation Bar ---*/

.nav-bar {
    /* sets the  mian axis direction */
    flex-direction: row;

    /* Distributes space BETWEEN the items along the Main  axis */
    justify-content: space-evenly;

    /* center items vertically along cross Axis */
    align-items: center;
    background-color: #07f31b
}   

.nav-bar a {
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    border: 1px solid transparent;
    transition: background-color 0.3s;
}

/* --- DEMO 2: card layout ---*/

.card-wrapper {
    /* REQUIRED: Allows items to break onto a new line */ 
    flex-wrap: wrap;

    /* Align items to the top of the container when wrapped */
    align-items: flex-start;
}

.flex-item{
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    min-width: 150px;
}

/* Flex Item properties: controlling groth */

.card-1{
    /* Grows to consume available space (1 part) */
    flex-grow: 2;
    background-color: #ffc107
}

.card-2 {
    /*Grows twice as much as others (2 parts) */
    flex-grow: 2;
    background-color: #dc3545;
}

.card-3 {
    /*Grows to consume available space (1 parts) */
    flex-grow: 1;
    background-color: #17a2b8;
}

.card-4 {
    /* flex-basis sets the initial size before growth/shrink */
    flex: 0 0 100%; /* shorthand: Don't grow (0), Don't shrink (0), Base size is 100% */ 
    background-color: #dc3545;
}