.box{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: rgb(182, 15, 15);
}
.box1{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: rgba(240, 7, 7, 0.74);
}
.box2{
    position:relative;
    width: 160px;
    height: 160px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    background-color: rgb(182, 150, 150);
}