body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex1 {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 300px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex2 {
    color: bisque;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    align-items: center;
    width: 300px;
    background-color: blueviolet;
}